SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_ENCRYPTION=tls
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM_ADDRESS=no-reply@as-immobilienverwaltung.de
MAIL_FROM_NAME=AS Website Anfrageformular
MIN_FORM_FILL_SECONDS=4
